@model DentistAssistant.ViewModels.FdiDescriptionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style rel="stylesheet" type="text/css">

            .table {
                table-layout: fixed;
                border-collapse: collapse;
            }

                .table td {
                    text-align: center;
                    border: 1px solid black;
                }

                .table tr:first-child td {
                    border-top: 0;
                }

                .table tr td:first-child {
                    border-left: 0;
                }

                .table tr:last-child td {
                    border-bottom: 0;
                }

                .table tr td:last-child {
                    border-right: 0;
                }
        </style>
</head>
<body>
    <div class="col-md-12">
        <div class="form-group">
            <h4>
                <label>牙位選擇</label>
            </h4>
            <div class="col-md-2">
                <button type="button" id="fm" class="btn btn-default col-md-12 partFdi" data-toggle="button">FM</button>
                <button type="button" id="ub" class="btn btn-default col-md-6 partFdi" data-toggle="button">UB</button>
                <button type="button" id="ua" class="btn btn-default col-md-6 partFdi" data-toggle="button">UA</button>
                <button type="button" id="ur" class="btn btn-default col-md-6 partFdi" data-toggle="button">UR</button>
                <button type="button" id="ul" class="btn btn-default col-md-6 partFdi" data-toggle="button">UL</button>
                <button type="button" id="lb" class="btn btn-default col-md-6 partFdi" data-toggle="button">LB</button>
                <button type="button" id="la" class="btn btn-default col-md-6 partFdi" data-toggle="button">LA</button>
                <button type="button" id="lr" class="btn btn-default col-md-6 partFdi" data-toggle="button">LR</button>
                <button type="button" id="ll" class="btn btn-default col-md-6 partFdi" data-toggle="button">LL</button>
                <button type="button" id="d99" class="btn btn-default col-md-12 partFdi" data-toggle="button">99</button>
            </div>
            <div class="col-md-10">
                @*<br />*@
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group area5">
                                    @*<button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>*@
                                    <button type="button" id="d55" class="btn btn-info fdi" data-toggle="button">5</button>
                                    <button type="button" id="d54" class="btn btn-info fdi" data-toggle="button">4</button>
                                    <button type="button" id="d53" class="btn btn-info fdi" data-toggle="button">3</button>
                                    <button type="button" id="d52" class="btn btn-info fdi" data-toggle="button">2</button>
                                    <button type="button" id="d51" class="btn btn-info fdi" data-toggle="button">1</button>
                                </div>
                                <div class="form-group area1">
                                    <button type="button" id="d19" class="btn btn-default fdi" data-toggle="button">9</button>
                                    <button type="button" id="d18" class="btn btn-warning fdi fm ub ur" data-toggle="button">8</button>
                                    <button type="button" id="d17" class="btn btn-warning fdi fm ub ur" data-toggle="button">7</button>
                                    <button type="button" id="d16" class="btn btn-warning fdi fm ub ur" data-toggle="button">6</button>
                                    <button type="button" id="d15" class="btn btn-warning fdi fm ub ur" data-toggle="button">5</button>
                                    <button type="button" id="d14" class="btn btn-warning fdi fm ub ur ua" data-toggle="button">4</button>
                                    <button type="button" id="d13" class="btn btn-warning fdi fm ub ur ua" data-toggle="button">3</button>
                                    <button type="button" id="d12" class="btn btn-warning fdi fm ub ur ua" data-toggle="button">2</button>
                                    <button type="button" id="d11" class="btn btn-warning fdi fm ub ur ua" data-toggle="button">1</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group area6">
                                    <button type="button" id="d61" class="btn btn-info fdi" data-toggle="button">1</button>
                                    <button type="button" id="d62" class="btn btn-info fdi" data-toggle="button">2</button>
                                    <button type="button" id="d63" class="btn btn-info fdi" data-toggle="button">3</button>
                                    <button type="button" id="d64" class="btn btn-info fdi" data-toggle="button">4</button>
                                    <button type="button" id="d65" class="btn btn-info fdi" data-toggle="button">5</button>
                                </div>
                                <div class="form-group area2">
                                    <button type="button" id="d21" class="btn btn-warning fdi fm ub ul ua" data-toggle="button">1</button>
                                    <button type="button" id="d22" class="btn btn-warning fdi fm ub ul ua" data-toggle="button">2</button>
                                    <button type="button" id="d23" class="btn btn-warning fdi fm ub ul ua" data-toggle="button">3</button>
                                    <button type="button" id="d24" class="btn btn-warning fdi fm ub ul ua" data-toggle="button">4</button>
                                    <button type="button" id="d25" class="btn btn-warning fdi fm ub ul" data-toggle="button">5</button>
                                    <button type="button" id="d26" class="btn btn-warning fdi fm ub ul" data-toggle="button">6</button>
                                    <button type="button" id="d27" class="btn btn-warning fdi fm ub ul" data-toggle="button">7</button>
                                    <button type="button" id="d28" class="btn btn-warning fdi fm ub ul" data-toggle="button">8</button>
                                    <button type="button" id="d29" class="btn btn-default fdi" data-toggle="button">9</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group area4">
                                    <button type="button" id="d49" class="btn btn-default fdi" data-toggle="button">9</button>
                                    <button type="button" id="d48" class="btn btn-warning fdi fm lb lr" data-toggle="button">8</button>
                                    <button type="button" id="d47" class="btn btn-warning fdi fm lb lr" data-toggle="button">7</button>
                                    <button type="button" id="d46" class="btn btn-warning fdi fm lb lr" data-toggle="button">6</button>
                                    <button type="button" id="d45" class="btn btn-warning fdi fm lb lr" data-toggle="button">5</button>
                                    <button type="button" id="d44" class="btn btn-warning fdi fm lb lr la" data-toggle="button">4</button>
                                    <button type="button" id="d43" class="btn btn-warning fdi fm lb lr la" data-toggle="button">3</button>
                                    <button type="button" id="d42" class="btn btn-warning fdi fm lb lr la" data-toggle="button">2</button>
                                    <button type="button" id="d41" class="btn btn-warning fdi fm lb lr la" data-toggle="button">1</button>
                                </div>
                                <div class="form-group area8">
                                    @*<button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>
        <button type="button" class="btn" style="visibility:hidden">0</button>*@
                                    <button type="button" id="d85" class="btn btn-info fdi" data-toggle="button">5</button>
                                    <button type="button" id="d84" class="btn btn-info fdi" data-toggle="button">4</button>
                                    <button type="button" id="d83" class="btn btn-info fdi" data-toggle="button">3</button>
                                    <button type="button" id="d82" class="btn btn-info fdi" data-toggle="button">2</button>
                                    <button type="button" id="d81" class="btn btn-info fdi" data-toggle="button">1</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group area3">
                                    <button type="button" id="d31" class="btn btn-warning fdi fm lb ll la" data-toggle="button">1</button>
                                    <button type="button" id="d32" class="btn btn-warning fdi fm lb ll la" data-toggle="button">2</button>
                                    <button type="button" id="d33" class="btn btn-warning fdi fm lb ll la" data-toggle="button">3</button>
                                    <button type="button" id="d34" class="btn btn-warning fdi fm lb ll la" data-toggle="button">4</button>
                                    <button type="button" id="d35" class="btn btn-warning fdi fm lb ll" data-toggle="button">5</button>
                                    <button type="button" id="d36" class="btn btn-warning fdi fm lb ll" data-toggle="button">6</button>
                                    <button type="button" id="d37" class="btn btn-warning fdi fm lb ll" data-toggle="button">7</button>
                                    <button type="button" id="d38" class="btn btn-warning fdi fm lb ll" data-toggle="button">8</button>
                                    <button type="button" id="d39" class="btn btn-default fdi" data-toggle="button">9</button>
                                </div>
                                <div class="form-group area7">
                                    <button type="button" id="d71" class="btn btn-info fdi" data-toggle="button">1</button>
                                    <button type="button" id="d72" class="btn btn-info fdi" data-toggle="button">2</button>
                                    <button type="button" id="d73" class="btn btn-info fdi" data-toggle="button">3</button>
                                    <button type="button" id="d74" class="btn btn-info fdi" data-toggle="button">4</button>
                                    <button type="button" id="d75" class="btn btn-info fdi" data-toggle="button">5</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div>
            <hr />
        </div>
        <div class="form-group">
            <h4>
                <label>片語</label>
            </h4>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.PhraseGroupId1, Model.PhraseGroups, "選擇片語", new { @class = "form-control", id = "pg1" })
                <select id="phrases1" multiple class="form-control" size="5">
                </select>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.PhraseGroupId2, Model.PhraseGroups, "選擇片語", new { @class = "form-control", id = "pg2" })
                <select id="phrases2" multiple class="form-control" size="5">
                </select>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.PhraseGroupId3, Model.PhraseGroups, "選擇片語", new { @class = "form-control", id = "pg3" })
                <select id="phrases3" multiple class="form-control" size="5">
                </select>
            </div>
        </div>
        <div>
            <hr />
        </div>
        <div class="form-group">
            <h4>
                溝通內容
            </h4>
            <div>
                <textarea id="fdiDescription" rows="6" class="form-control text-primary"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button id="submitFdiDescription" type="button" class="btn btn-primary pull-right" data-dismiss="modal">儲存</button>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            var description;
            var fmChecked = false;
            var ubChecked = false;
            var uaChecked = false;
            var urChecked = false;
            var ulChecked = false;
            var lbChecked = false;
            var laChecked = false;
            var lrChecked = false;
            var llChecked = false;
            var indescribableChecked = false;
            @if (@Model.FdiUnit != null)
            {
                <Text>
            description = '@(Html.Raw(Model.FdiUnit.Fdi.Description))';
            fmChecked = '@(Model.FdiUnit.Fdi.Fm.ToString().ToLower())' === 'true';
            ubChecked = '@(Model.FdiUnit.Fdi.Ub.ToString().ToLower())' === 'true';
            uaChecked = '@(Model.FdiUnit.Fdi.Ua.ToString().ToLower())' === 'true';
            urChecked = '@(Model.FdiUnit.Fdi.Ur.ToString().ToLower())' === 'true';
            ulChecked = '@(Model.FdiUnit.Fdi.Ul.ToString().ToLower())' === 'true';
            lbChecked = '@(Model.FdiUnit.Fdi.Lb.ToString().ToLower())' === 'true';
            laChecked = '@(Model.FdiUnit.Fdi.La.ToString().ToLower())' === 'true';
            lrChecked = '@(Model.FdiUnit.Fdi.Lr.ToString().ToLower())' === 'true';
            llChecked = '@(Model.FdiUnit.Fdi.Ll.ToString().ToLower())' === 'true';
            indescribableChecked = '@(Model.FdiUnit.Fdi.Indescribable.ToString().ToLower())' === 'true';
            </Text>
                
                foreach (var fdiDetail in Model.FdiUnit.FdiDetails)
                {
                    string fdi = fdiDetail.FdiArea + fdiDetail.FdiPosition;
                    <Text>
            fdiArray.push("@fdi");
            $('#d' + @fdi).addClass('active');
            </Text>
                }
            }

            $('#fdiDescription').val(description);
            if (fmChecked) {
                $('#fm').addClass('active');
                $('.fm').addClass('active');
            }
            if (ubChecked) {
                $('#ub').addClass('active');
                $('.ub').addClass('active');
            }
            if (uaChecked) {
                $('#ua').addClass('active');
                $('.ua').addClass('active');
            }
            if (urChecked) {
                $('#ur').addClass('active');
                $('.ur').addClass('active');
            }
            if (ulChecked) {
                $('#ul').addClass('active');
                $('.ul').addClass('active');
            }
            if (lbChecked) {
                $('#lb').addClass('active');
                $('.lb').addClass('active');
            }
            if (laChecked) {
                $('#la').addClass('active');
                $('.la').addClass('active');
            }
            if (lrChecked) {
                $('#lr').addClass('active');
                $('.lr').addClass('active');
            }
            if (llChecked) {
                $('#ll').addClass('active');
                $('.ll').addClass('active');
            }
            if (indescribableChecked) {
                $('#d99').addClass('active');
                $('.fm').removeClass('active');
            }           

            console.log(fdiArray);
        });

        var fdiArray= new Array();

        var touchtime = 0;
        $(document).on('click', '.insertFdiDesc', function () {
            if (touchtime == 0) {
                touchtime = new Date().getTime();
            } else {
                if (((new Date().getTime()) - touchtime) < 800) {
                    $('#fdiDescription').val($('#fdiDescription').val() + this.text);
                }
                touchtime = 0;
            }
        });

        $('.partFdi').click(function () {
            fdiArray.splice(0, fdiArray.length);
            var partFdi = $(this);
            var partFdiId = partFdi.attr('id');
            var isActive = partFdi.hasClass('active');

            switch (partFdiId) {
                case 'fm':
                    $('.partFdi').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.fm').removeClass('active');
                    } else {
                        $('.fm').addClass('active');
                    }
                    break;
                case 'ub':
                    $('.partFdi').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.ub').removeClass('active');
                    } else {
                        $('.ub').addClass('active');
                    }
                    break;
                case 'ua':
                    $('.partFdi').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.ua').removeClass('active');
                    } else {
                        $('.ua').addClass('active');
                    }
                    break;
                case 'ur':
                    $('#fm').removeClass('active');
                    $('#ub').removeClass('active');
                    $('#ua').removeClass('active');
                    $('#lb').removeClass('active');
                    $('#la').removeClass('active');
                    $('#d99').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.ur').removeClass('active');
                    } else {
                        $('.ur').addClass('active');
                    }
                    if ($('#ul').hasClass('active')) {
                        $('#ul').hasClass('active');
                        $('.ul').addClass('active');
                    }
                    if ($('#lr').hasClass('active')) {
                        $('#lr').hasClass('active');
                        $('.lr').addClass('active');
                    }
                    if ($('#ll').hasClass('active')) {
                        $('#ll').hasClass('active');
                        $('.ll').addClass('active');
                    }
                    break;
                case 'ul':
                    $('#fm').removeClass('active');
                    $('#ub').removeClass('active');
                    $('#ua').removeClass('active');
                    $('#lb').removeClass('active');
                    $('#la').removeClass('active');
                    $('#d99').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.ul').removeClass('active');
                    } else {
                        $('.ul').addClass('active');
                    }
                    if ($('#ur').hasClass('active')) {
                        $('#ur').hasClass('active');
                        $('.ur').addClass('active');
                    }
                    if ($('#lr').hasClass('active')) {
                        $('#lr').hasClass('active');
                        $('.lr').addClass('active');
                    }
                    if ($('#ll').hasClass('active')) {
                        $('#ll').hasClass('active');
                        $('.ll').addClass('active');
                    }
                    break;
                case 'lb':
                    $('.partFdi').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.lb').removeClass('active');
                    } else {
                        $('.lb').addClass('active');
                    }
                    break;
                case 'la':
                    $('.partFdi').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.la').removeClass('active');
                    } else {
                        $('.la').addClass('active');
                    }
                    break;
                case 'lr':
                    $('#fm').removeClass('active');
                    $('#ub').removeClass('active');
                    $('#ua').removeClass('active');
                    $('#lb').removeClass('active');
                    $('#la').removeClass('active');
                    $('#d99').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.lr').removeClass('active');
                    } else {
                        $('.lr').addClass('active');
                    }
                    if ($('#ur').hasClass('active')) {
                        $('#ur').hasClass('active');
                        $('.ur').addClass('active');
                    }
                    if ($('#ul').hasClass('active')) {
                        $('#ul').hasClass('active');
                        $('.ul').addClass('active');
                    }
                    if ($('#ll').hasClass('active')) {
                        $('#ll').hasClass('active');
                        $('.ll').addClass('active');
                    }
                    break;
                case 'll':
                    $('#fm').removeClass('active');
                    $('#ub').removeClass('active');
                    $('#ua').removeClass('active');
                    $('#lb').removeClass('active');
                    $('#la').removeClass('active');
                    $('#d99').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                        $('.ll').removeClass('active');
                    } else {
                        $('.ll').addClass('active');
                    }
                    if ($('#ur').hasClass('active')) {
                        $('#ur').hasClass('active');
                        $('.ur').addClass('active');
                    }
                    if ($('#ul').hasClass('active')) {
                        $('#ul').hasClass('active');
                        $('.ul').addClass('active');
                    }
                    if ($('#lr').hasClass('active')) {
                        $('#lr').hasClass('active');
                        $('.lr').addClass('active');
                    }
                    break;
                case 'd99':
                    $('.partFdi').removeClass('active');
                    $('.fm').removeClass('active');
                    if (isActive) {
                        partFdi.addClass('active');
                    }
                    break;
            }
            if (!isActive) {
                $('#fdiDescription').val($('#fdiDescription').val() + '#' + partFdiId.replace('d', '').toUpperCase());
            }
            console.log(fdiArray);
        });

        $("#pg1").change(function () {
            var pgId = $('#pg1 :selected').val();
            var phrases1 = $('#phrases1');
            $.ajax({
                type: 'POST',
                url: '/EditFirstTimeModal/GetPhrases',
                data: { phraseGroupId: pgId },
                success: function (result) {
                    if (result) {
                        if (result.status) {
                            phrases1.empty();
                            if (result.data.length > 0) {
                                $.each(result.data, function (i, item) {
                                    phrases1.append(
                                        $('<option/>', { 'value': item.id, 'text': item.description }).addClass('insertFdiDesc').append()
                                    );
                                });
                            }
                        }
                        else {
                            console.log(result.message);
                        }
                    }
                    else {
                        console.log('null');
                    }
                }
            });
        });

        $("#pg2").change(function () {
            var pgId = $('#pg2 :selected').val();
            var phrases2 = $('#phrases2');
            $.ajax({
                type: 'POST',
                url: '/EditFirstTimeModal/GetPhrases',
                data: { phraseGroupId: pgId },
                success: function (result) {
                    if (result) {
                        if (result.status) {
                            phrases2.empty();
                            if (result.data.length > 0) {
                                $.each(result.data, function (i, item) {
                                    phrases2.append(
                                        $('<option/>', { 'value': item.id, 'text': item.description }).addClass('insertFdiDesc').append()
                                    );
                                });
                            }
                        }
                        else {
                            console.log(result.message);
                        }
                    }
                    else {
                        console.log('null');
                    }
                }
            });
        });

        $("#pg3").change(function () {
            var pgId = $('#pg3 :selected').val();
            var phrases3 = $('#phrases3');
            $.ajax({
                type: 'POST',
                url: '/EditFirstTimeModal/GetPhrases',
                data: { phraseGroupId: pgId },
                success: function (result) {
                    if (result) {
                        if (result.status) {
                            phrases3.empty();
                            if (result.data.length > 0) {
                                $.each(result.data, function (i, item) {
                                    phrases3.append(
                                        $('<option/>', { 'value': item.id, 'text': item.description }).addClass('insertFdiDesc').append()
                                    );
                                });
                            }
                        }
                        else {
                            console.log(result.message);
                        }
                    }
                    else {
                        console.log('null');
                    }
                }
            });
        });

        $('.fdi').click(function () {
            var fdi = $(this);
            var fdiId = fdi.attr('id');
            var isActive = fdi.hasClass('active');
            $('.partFdi').removeClass('active');

            fdiArray.splice(0, fdiArray.length);
            if (!isActive) {
                $(".fdi").each(function () {
                    var fdis = $(this);
                    var fdiIds = fdis.attr('id');
                    var isActives = fdis.hasClass('active');
                    if (isActives) {
                        fdiArray.push(fdiIds.replace('d', ''));
                    }
                });
                fdiArray.push(fdiId.replace('d', ''));
                $('#fdiDescription').val($('#fdiDescription').val() + '#' + fdiId.replace('d', '').toUpperCase());
            } else {
                $(".fdi").each(function () {
                    var fdis = $(this);
                    var fdiIds = fdis.attr('id');
                    var isActives = fdis.hasClass('active');
                    if (isActives && (fdiIds != fdiId)) {
                        fdiArray.push(fdiIds.replace('d', ''));
                    }
                });
            }
            console.log(fdiArray);
        });

        $('#submitFdiDescription').click(function () {
            var patientRecordId = '@Model.PatientRecordId';
            var type = '@Model.Type';
            var fdiDescription = $('#fdiDescription').val();
            var transFdi;
            @if (Model.FdiUnit == null)
            {
                <Text>
            //trans = '';
        </Text>
            }
            else
            {
                <Text>
            transFdi = @Model.FdiUnit.Fdi.Id;
                </Text>
            }
                
            var fm = $('#fm').hasClass('active');
            var ub = $('#ub').hasClass('active');
            var ua = $('#ua').hasClass('active');
            var ur = $('#ur').hasClass('active');
            var ul = $('#ul').hasClass('active');
            var lb = $('#lb').hasClass('active');
            var la = $('#la').hasClass('active');
            var lr = $('#lr').hasClass('active');
            var ll = $('#ll').hasClass('active');
            var indescribable = $('#d99').hasClass('active');
            $.ajax({
                type: 'POST',
                url: '/EditFirstTimeModal/AddUpdateFdi',
                data: { patientRecordId: patientRecordId, fdiId: transFdi, type: type, fm: fm, ub: ub, ua: ua, ur: ur, ul: ul, lb: lb, la: la, lr: lr, ll: ll, indescribable: indescribable, fdiDescription: fdiDescription, data: fdiArray },
                success: function (result) {
                    if (result) {
                        if (result.status) {
                            window.location.reload();
                        }
                        else {
                            console.log(result.message);
                        }
                    }
                    else {
                        console.log('null');
                    }
                }
            });
        });
    </script>
</body>
</html>
