@model List<DentistAssistant.ViewModels.PatientCompleteViewModel>

@{
    ViewData["Title"] = "查詢結果";
}

<h1 style="display:inline">查詢結果</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>病患編號</th>
            <th>病患名稱</th>
            <th>身分證號</th>
            <th>性別</th>
            <th>生日</th>
            <th>家用電話</th>
            <th>手機</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Patient.PatNo</td>
                <td>@m.Patient.PatName</td>
                <td>@m.Patient.Id</td>
                <td>@m.Patient.Sex</td>
                <td>@(m.Patient.Birth == null ? "" : ((DateTime)m.Patient.Birth).ToString("yyyy-MM-dd"))</td>
                <td>@m.Patient.TelH</td>
                <td>@m.Patient.Moble1</td>
                <td>
                    <a href="@Url.Action("Record", "Patient", new { id = @m.Patient.PatNo })" class="btn btn-info ">選擇</a>
                    @{
                        if (m.PatientSettings == null || m.PatientSettings.IsCompleted == null)
                        {
                            <button id="@m.Patient.PatNo" class="btn btn-info patientComplete">加入待編輯</button>
                        }
                        else
                        {
                            if (!((bool)m.PatientSettings.IsCompleted))
                            {
                                <button class="btn btn-default" disabled>已加入待編輯</button>
                            }
                            else
                            {
                                <button id="@m.Patient.PatNo" class="btn btn-info patientComplete">加入待編輯</button>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $('.patientComplete').click(function () {
        var patno = $(this).attr('id');
        $.ajax({
            type: 'POST',
            url: '/Patient/SetPatientComplete',
            data: { patNo: patno },
            success: function (result) {
                if (result) {
                    if (result.status) {
                        location.reload();
                    }
                    else {
                        alert(result.message);
                    }
                }
                else {
                    alert('沒有回應');
                }
            }
        });
    });
</script>