@model DentistAssistant.ViewModels.SuggestionViewModel

@{
    ViewData["Title"] = "診療建議單";
}

<!--jquery confirm-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<style rel="stylesheet" type="text/css">
    .table {
        /*table-layout: fixed;*/
        border-collapse: collapse;
    }

        .table td {
            text-align: center;
            border: 1px solid black;
        }

        .table tr:first-child td {
            border-top: 0;
        }

        .table tr td:first-child {
            border-left: 0;
        }

        .table tr:last-child td {
            border-bottom: 0;
        }

        .table tr td:last-child {
            border-right: 0;
        }
</style>
<style>
    .header {
        /*padding: 10px 16px;*/
        background: #555;
        color: #f1f1f1;
    }

    .content {
        padding: 0px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }
</style>
<style>
    .navbar-fixed-top2 {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-fixed-top2 {
        top: 46px;
        border-width: 0 0 1px;
    }
</style>

<div id="myHeader" class="navbar-fixed-top2" style="z-index:1;background-color:lightskyblue;">
    <h2>病患：@(Model.Patient.PatName)　病患編號：@(Model.Patient.PatNo)</h2>
</div>
<div style="padding-top:57px">
    <h1>診療建議單</h1>
    <ul class="nav nav-tabs">
        <li>
            <a href="@Url.Action("Record", "Patient", new { id = Model.Patient.Id })">牙醫療程紀錄單</a>
        </li>
        <li>
            <a href="@Url.Action("Assistant", "Patient", new { id = Model.Patient.Id })">療程助理單</a>
        </li>
        <li class="active">
            <a href="#" data-toggle="tab">診療建議單</a>
        </li>
    </ul>
</div>

@if (!ViewBag.NoPatientSetting)
{
    <div class="panel-heading">
        <span class="panel-title">&nbsp;</span>
        <div class="panel-heading-controls">
            <a class="btn btn-default" data-toggle="modal" data-target="#FdiDescription" href="@Url.Action("FdiDescription", "EditFirstTimeModal", new { patientRecordId = Model.PatientRecordSuggestUnit.Id, type = "S" })">建立部位/處置</a>
            <a class="btn btn-default" data-toggle="modal" data-target="#SuggestionNoteModal">建立備註</a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table-bordered" width="100%">
            <thead>
                <tr>
                    <th>部位</th>
                    <th>處置項目</th>
                    <th>材質/單位費用</th>
                    <th>數量</th>
                    <th>每項療程費用</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PatientRecordSuggestUnit.FdiUnitsS.Count; i++)
                {
                    <tr>
                        <td class="col-md-4">
                            <div id="@Model.PatientRecordSuggestUnit.FdiUnitsS[i].Fdi.Id" class="fdiArea">
                                <div class="form-group col-md-12">
                                    <hr />
                                </div>
                                <div class="form-group col-md-12" @(Model.PatientRecordSuggestUnit.FdiUnitsS[i].FdiDetails.Count > 0 ? "" : "style=visibility:hidden")>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td style="width:50%;">
                                                    @{
                                                        var area1 = Model.PatientRecordSuggestUnit.FdiUnitsS[i].FdiDetails.Where(c => c.FdiArea.Equals("1")).OrderByDescending(c => c.FdiPosition).ToList();
                                                        string area1string = string.Empty;
                                                        foreach (FdiDetails f in area1)
                                                        {
                                                            area1string += f.FdiPosition;
                                                        }
                                                        <label class="text-primary">@area1string</label>
                                                    }
                                                </td>
                                                <td style="width:50%;">
                                                    @{
                                                        var area2 = Model.PatientRecordSuggestUnit.FdiUnitsS[i].FdiDetails.Where(c => c.FdiArea.Equals("2")).ToList();
                                                        string area2string = string.Empty;
                                                        foreach (FdiDetails f in area2)
                                                        {
                                                            area2string += f.FdiPosition;
                                                        }
                                                        <label class="text-primary">@area2string</label>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%;">
                                                    @{
                                                        var area4 = Model.PatientRecordSuggestUnit.FdiUnitsS[i].FdiDetails.Where(c => c.FdiArea.Equals("4")).OrderByDescending(c => c.FdiPosition).ToList();
                                                        string area4string = string.Empty;
                                                        foreach (FdiDetails f in area4)
                                                        {
                                                            area4string += f.FdiPosition;
                                                        }
                                                        <label class="text-primary">@area4string</label>
                                                    }
                                                </td>
                                                <td style="width:50%;">
                                                    @{
                                                        var area3 = Model.PatientRecordSuggestUnit.FdiUnitsS[i].FdiDetails.Where(c => c.FdiArea.Equals("3")).ToList();
                                                        string area3string = string.Empty;
                                                        foreach (FdiDetails f in area3)
                                                        {
                                                            area3string += f.FdiPosition;
                                                        }
                                                        <label class="text-primary">@area3string</label>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group col-md-12">
                                @Html.TextAreaFor(m => m.PatientRecordSuggestUnit.FdiUnitsS[i].Fdi.Description, new { @class = "col-md-12 text-primary", style = "width:100%;", rows = "3", disabled = "disabled" })
                            </div>
                        </td>
                        <td class="col-md-1">
                        </td>
                        <td class="col-md-1">
                        </td>
                        <td class="col-md-1">
                        </td>
                        <td class="col-md-1">
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#FdiDescription" href="@Url.Action("FdiDescription", "EditFirstTimeModal", new { patientRecordId = Model.PatientRecordSuggestUnit.Id, fdiId = Model.PatientRecordSuggestUnit.FdiUnitsS[i].Fdi.Id, type = "S" })"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger fdiremove" type="button"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table-bordered" width="100%">
            <thead>
                <tr>
                    <th>備註</th>
                    <th>總療程費用</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-10">
                        @if (string.IsNullOrEmpty(Model.SuggestionNote))
                        {
                            <div>
                                &nbsp;
                            </div>
                        }
                        else
                        {
                            <div class="text-primary">
                                @Html.Raw(Model.SuggestionNote.Replace(Environment.NewLine, "<br />").Replace("\n", "<br />").Replace("\r\n", "<br />"))
                            </div>
                        }
                    </td>
                    <td class="col-md-2">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <h3>此病患尚未有初診紀錄單紀錄</h3>
}

<div id="FdiDescription" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="SuggestionNoteModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">備註</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="suggestionNote" rows="10" class="form-control text-primary">
@Model.SuggestionNote
</textarea>
            </div>
            <div class="modal-footer">
                <button id="saveSuggestionNote" type="button" class="btn btn-primary" data-dismiss="modal">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function () { myFunction() };

    // Get the header
    var header = document.getElementById("myHeader");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.remove("navbar-fixed-top2");
            header.classList.add("navbar-fixed-top");
        } else {
            header.classList.remove("navbar-fixed-top");
            header.classList.add("navbar-fixed-top2");
        }
    }
</script>
<script>

    $("#FdiDescription").on('hidden.bs.modal', function () {
        $(this).data('bs.modal', null);
    });

    $(document).on('click', '.fdiremove', function () {
        var $fdiTr = $(this).closest('tr');
        var id = $fdiTr.find('.fdiArea').attr('id');
        $.confirm({
            title: '提示',
            content: '<p>是否刪除此牙位明細？</p>',
            buttons: {
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                },
                confirm: {
                    text: '確定',
                    btnClass: 'btn btn-danger delete',
                    action: function () {
                        $.ajax({
                            type: 'POST',
                            url: '/EditFirstTimeModal/RemoveFdiDescription',
                            data: { id: id },
                            success: function (result) {
                                if (result) {
                                    if (result.status) {
                                        $fdiTr.remove();
                                    }
                                    else {
                                        alert(message);
                                    }
                                }
                                else {
                                    alert('沒有回應');
                                }
                            }
                        });
                    }
                }
            }
        });
    });
    
    $('#saveSuggestionNote').click(function () {
        var patientId = '@Model.Patient.Id';
        var suggestionNote = $('#suggestionNote').val();

        $.ajax({
            type: 'POST',
            url: '/Patient/SaveSuggestionNote',
            data: { patientId: patientId, suggestionNote: suggestionNote },
            success: function (result) {
                if (result) {
                    if (result.status) {
                        window.location.reload();
                    }
                    else {
                        alert(result.message);
                    }
                }
                else {
                    console.log('null');
                }
            }
        });
    });
</script>